<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<meta charset="utf-8"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/account/deposit}" method="post">
                <div class="form-group" >
                    <label for="accountType">1. 입금을 원하시는 계좌를 선택해주세요. </label>
                    <select class="form-control" th:value="${accountType}" name="accountType" id="accountType" required="required">
                        <option disabled="disabled" selected="selected"> -- 계좌 선택하기 -- </option>
                        <option value="Primary">기본 계좌</option>
                        <option value="Savings">예금 계좌</option>
                    </select>
                    <br />
                </div>

                <div class="form-group">
                    <label>2. 입금하고자 하시는 금액을 지정하세요: </label>
                    <span class="input-group-addon">금액 :</span>
                    <input th:value="${amount}" type="text" name="amount" id="amount" class="form-control" aria-label="Amount"/>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">입금하기</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>